.countryDetails {
  &-back {
    align-items: center;
    border: 1px solid #858585;
    border-radius: 5px;
    cursor: pointer;
    color: #111517;
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    text-decoration: none;
    width: 120px;
  }

  &-backIcon {
    width: 16px;
    height: 16px;
  }

  &-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &-flag, &-info {
    width: 45%;
  }

  &-title {
    font-size: 32px;
    font-weight: bold;
  }

  &-main {
    display: flex;
  }

  &-column {
    width: 50%;
  }

  &-label {
    font-weight: bold;
  }
}

.dark {
  .countryDetails {
    &-back {
      color: #ffffff;
      fill: #ffffff;
      background-color: #333e48;
      border-color: #ffffff;
    }
  }
}