@import '../styles/mixins.scss';

.countryList {
    display: flex;
    flex-wrap: wrap;

    &-filters {
        margin-bottom: 30px;
        width: 100%;

        @include breakpoint-tablet {
            align-items: center;
            display: flex;
            justify-content: space-between;
            flex-basis: 100%;
            margin: 0 20px 50px;
        }
    }

    &-countries {
        height: 100%;
        width: 100%;
        position: relative;
    }
}