@import '../styles/mixins.scss';

.countryList {
    display: flex;
    flex-wrap: wrap;
    
    &-search {
        align-items: center;
        border-radius: 5px;
        border: 1px solid #999999;
        display: flex;
        margin-bottom: 50px;
        padding: 15px 20px;
        width: 100%;

        input {
            border: 0;

            &:focus-visible {
                outline-width: 0;
            }

            margin-left: 10px;
        }

        @include breakpoint-tablet {
            margin: 0 60% 50px 20px;
            flex-basis: 100%;
        }
    }

    &-searchIcon {
        height: 16px;
        width: 16px;
    }
}

.dark {
    .countryList {
        &-search {
            background-color: #333e48;
            border-color: #2b3945;

            input {
                background-color: #333e48;
                color: #ffffff;

                &::placeholder {
                    color: #999999;
                }
            }
        }
    }
}