@font-face {
  font-family: 'nunito';
  src: url('./fonts/nunitosans-bold-webfont.woff2') format('woff2'),
       url('./fonts/nunitosans-bold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: url('./fonts/nunitosans-light-webfont.woff2') format('woff2'),
       url('./fonts/nunitosans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: url('./fonts/nunitosans-semibold-webfont.woff2') format('woff2'),
       url('./fonts/nunitosans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.App {
  background-color: #fafafa;
  font-family: 'nunito';
  font-size: 14px;
  text-align: center;
  padding: 50px;
}

.theme-selector {
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  margin: 0 0 20px auto;
  user-select: none;
  width: 60px;
}

.theme-icon {
  width: 16px;
  height: 16px;
}

.dark {
  background-color: #2b3945;

  .theme-selector {
    color: #ffffff;
  }
}